/* HOME */
.home-hero {
  min-height: 100vh;
  padding: 140px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.home-hero h2 {
  font-size: 3rem;
  color: #ffcc00;
}

.home-hero p {
  color: #ccc;
  max-width: 600px;
  margin: 0 auto;
}

.home-projects {
  padding: 100px 20px;
  text-align: center;
}

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Cards base */
.card {
  background: #111;
  padding: 30px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.card h3 {
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  font-weight: bold;
}
